/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #9088b3;
  --ifm-color-primary-dark: #7b7499;
  --ifm-color-primary-darker: #676180;
  --ifm-color-primary-darkest: #524e66;
  --ifm-color-primary-light: #a59bcc;
  --ifm-color-primary-lighter: #b9aee6;
  --ifm-color-primary-lightest: #cec2ff;

  --ifm-code-font-size: 95%;
  --ifm-code-border-radius: 3px;
  --ifm-code-background: rgba(27, 31, 35, 0.05);
  --ifm-blockquote-color: #ecf4f9;
  --ifm-blockquote-color-dark: #cbddea;

  --ifm-code-padding-vertical: 0.1rem;
  --ifm-code-padding-horizontal: 0.2rem;
  --ifm-pre-background: rgb(39, 40, 34);

  --ifm-alert-color: black;

  --ra-admonition-color: #ecf4f9;
  --ra-admonition-color-dark: #2a98b9;

  --ra-admonition-color-important: #2a98b9;

  --ra-admonition-color-success: #f1fdf9;
  --ra-admonition-color-success-dark: #00bf88;

  --ra-admonition-color-caution: #fffbf5;
  --ra-admonition-color-caution-dark: #f0ad4e;

  --ra-admonition-color-error: #fff2f2;
  --ra-admonition-color-error-dark: #d9534f;

  --ra-admonition-icon-color: black !important;
}

@media screen and (max-width: 996px) {
  :root {
    --ifm-font-size-base: 15px;
  }
}
@media screen and (min-width: 997px) {
  :root {
    --ifm-font-size-base: 17px;
  }
}

:root[data-theme='dark'] {
  --ifm-color-primary: #9088b3;
  --ifm-color-primary-dark: #7b7499;
  --ifm-color-primary-darker: #676180;
  --ifm-color-primary-darkest: #524e66;
  --ifm-color-primary-light: #a59bcc;
  --ifm-color-primary-lighter: #b9aee6;
  --ifm-color-primary-lightest: #cec2ff;

  --ifm-blockquote-color: #7b7499;
  --ifm-blockquote-color-dark: #676180;
}

:root[data-theme='dark'] .hero.hero--primary {
  --ifm-hero-background-color: #9088b3;
  --ifm-hero-text-color: #ffffff;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}
